.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70vw;
  background-color: whitesmoke;
  border-radius: 0.8rem;
}
